.menuContainer {
    padding-left: 2rem;
    padding-bottom: 2rem;
    color: var(--textSecondary);
}

.menu-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
}

.itemBoxContainer {
    display: flex;
    width: 14rem;
    padding: 1rem;
    color: var(--textSecondary);
    background-color: var(--accentSecondary);
    border: var(--border_size) solid var(--primary);
    border-radius: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.itemBoxContainer span {
    padding-top: 1rem;
    border-radius: 1rem;
    background-color: var(--accentPrimary);
}

.itemBoxContainer img {
    width: 8rem;
    height: 8rem;
    border: var(--border_size) solid none;
    border-radius: 50%;
}

.itemBoxContainer p {
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.itemBoxButton {
    width: 100%;
    height: 3.5rem;
    font-size: large;
    padding: 1rem;
    border: var(--border_size) solid none;
    border-radius: 1rem;
    color: var(--textPrimary);
    background-color: var(--primary);
    transition: all 0.3s;
}

.itemBoxButton:hover {
    color: var(--textPrimary);
    background-color: green;
    border: var(--border_size) solid green;
    cursor: pointer;
}