:root {
  --primary: black;
  --secondary: white;
  --border_size: 2px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.returnButton{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--primary);
  background-color: transparent;
  align-self: flex-end;
  margin: 0.1rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 50%;
  transition: all 0.3s;
}

.returnButton:hover{
  color: var(--secondary);
  background-color: var(--primary);
}

.profileBoxContainer{
  display: flex;
  width: 100%;
  color: var(--primary);
  background-color: var(--secondary);
  border: var(--border_size) var(--primary);
  border-style: none none solid none;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
}

.profileBoxContainer b{
  margin: 1rem;
}

.sideBarCcontainer{
  width: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: var(--border_size) solid var(--primary);
  border-collapse: collapse;
  background-color: var(--secondary);
}

.sideBarButton{
  width: 100%;
  height: 3.5rem;
  font-size: large;
  color: var(--primary);
  box-sizing: border-box;
  border: var(--border_size) var(--primary);
  border-style: none none solid none;
  background-color: var(--secondary);
  transition: all 0.3s;
}

.sideBarButton:hover{
  color: var(--secondary);
  background-color: var(--primary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
